form {
   width: 30%;
   border: 5px solid;
   border-color: aqua;
   font-size: 500%;
   font-family: monospace;
   margin: 20px;
   text-align: center;
   box-shadow: 20px 20px 40px; color: rgb(52, 52, 52);
   color: rgb(255, 0, 0);
}
a {
  text-decoration: none;
  color: rgb(255, 252, 85);
}
#liststyle {
    <span>
  text-align: right;
  color: rgb(255, 0, 0);
  font-size: xx-large; 
  font-family: monospace 
  </span>
}
.secondpagestyle{
  color: rgb(1, 42, 42);
  text-align: center;
}